<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<window hflex="true"
		vflex="true"
		viewModel="@id('vm') @init('fr.tothemoon.viewModels.StrategiesViewModel')">

		<style>
			.strategy{ border:1px solid black; }

		</style>

		<grid model="@bind(vm.listStrategies)" vflex="true">
		<columns>
		<column label="strat. name"></column>
		<column label="min treshold"></column>
		<column label="gain to capital"></column>
		<column label="activate"></column>
		</columns>
			<template name="model">
				<row>
					<cell>
						<label value="@bind(each.name)"></label>
					</cell>
					<cell>
						<doublespinner value="@bind(each.minPercentTreshold)" format="#.#" step="0.1" hflex="true"></doublespinner>
					</cell>
					<cell>
						<doublespinner value="@bind(each.minPercentTreshold)" step="0.1" hflex="true"></doublespinner>
					</cell>
					<cell>
						<checkbox checked="@bind(each.activate)"></checkbox>
					</cell>
				</row>
			</template>
		</grid>
	</window>
</zk>