@charset "ISO-8859-1";

.z-window{ padding:0px!important; }

			.z-window-content { padding:0px; }


			.gecko{ padding:0px!important; }

			.loginGrid{ border-radius:10px; }

			.loginPage{ background-size: cover; background-color:#414141;
			background-repeat:no-repeat;
			background-image:url("images/rocket_vector.png");
			}